<div id="adminShareLinksModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        <h4 class="modal-title">
          <span class="fas fa-link"></span>
          <span translate>Manage Share Links</span>
        </h4>
      </div>
      <div class="modal-body">
        <div ng-if="adminShares.loading" class="text-center">
          <span class="fas fa-spinner fa-spin fa-2x"></span>
        </div>

        <div ng-if="!adminShares.loading && adminShares.list.length === 0" class="text-muted text-center">
          <p translate>No active share links.</p>
        </div>

        <table class="table table-condensed table-striped" ng-if="!adminShares.loading && adminShares.list.length > 0">
          <thead>
            <tr>
              <th translate>User</th>
              <th translate>Folder</th>
              <th translate>File</th>
              <th translate>Created</th>
              <th translate>Expires</th>
              <th translate>Downloads</th>
              <th translate>Password</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="link in adminShares.list">
              <td>{{link.username}}</td>
              <td>{{link.folderId}}</td>
              <td>{{link.filePath || '(entire folder)'}}</td>
              <td>{{link.createdAt / 1000000 | date:'short'}}</td>
              <td>
                <span ng-if="link.expiresAt > 0">{{link.expiresAt / 1000000 | date:'short'}}</span>
                <span ng-if="link.expiresAt == 0" translate>Never</span>
              </td>
              <td>
                {{link.downloadCount}}
                <span ng-if="link.maxDownloads > 0"> / {{link.maxDownloads}}</span>
                <span ng-if="link.maxDownloads == 0"> / &infin;</span>
              </td>
              <td>
                <span ng-if="link.hasPassword" class="fas fa-lock text-warning"></span>
                <span ng-if="!link.hasPassword" class="fas fa-lock-open text-muted"></span>
              </td>
              <td>
                <button class="btn btn-xs btn-danger" ng-click="adminRevokeShareLink(link)">
                  <span class="fas fa-trash"></span> <span translate>Revoke</span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="refreshAdminShareLinks()">
          <span class="fas fa-sync"></span> <span translate>Refresh</span>
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal" translate>Close</button>
      </div>
    </div>
  </div>
</div>
